beautifulsoup4 >= 4.9.1
requests >= 2.24.0
lxml == 4.6.5
simplejson == 3.17.2
flask == 1.1.2
flask-sqlalchemy == 2.4.4
Flask-Bcrypt == 0.7.1
passlib == 1.7.4
aiohttp == 3.7.3
flask-socketio == 4.6.1
gevent == 20.9.0
eventlet == 0.30.0
gevent-websocket == 0.10.1