
/* unneeded, but for overlay of plus sign should you work it out*/
.btn-glyphicon {
    height: 25px;
    width: 25px;
    padding: 8px;
    background: #ffffff;
    margin-right: 0px;
}

.icon-btn {
    padding: 1px 15px 3px 2px;
    border-radius: 50px;
}


